/* Begin CSS Reset code */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* End CSS Reset code */

body {
	background-color: white;
	margin-bottom: 1000px;
	margin-right: 0px;
	margin-left: 0px;

}

h1 {
	font-family: 'Fjalla One', sans-serif;
	margin-right: 50px;
	font-size: 140px;
	margin-top: 50px;
	text-align: center;
	color: tan; 

}

iframe {
	margin-left: 50px;

}

h2 {
	font-family: 'Fjalla One', sans-serif;
	margin-right: 50px;
	font-size: 50px;
	text-align: center;
	color: black; 
	margin-top: 50px;
	margin-bottom: 20px;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-top: 350px
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



h3 {
	margin-top: 30px;
	margin-right: 200px;
	margin-left: 200px;
	font-size: 26px;


}

p {
	margin-top: 20px;
	margin-right: 0px;
	margin-left: 0px;
	font-size: 26px;


}


div 
{
	margin-top: 40px;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 26px;
	color: grey;

}

button {
	display: block;
  max-width: 300px;
  margin: auto;
}

blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid tan ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote: :before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}
